*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
}

.HistoryButton{
    position: absolute;
    left: 20px;
    cursor: pointer;
    background-color: rgb(57, 67, 58);
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 15px;
}

.HistoryButton a{
    color: white;
    text-decoration: none;
}

.title{
    color: black;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.marketplace_container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.marketplace_button{
	text-decoration: none;
}

.marketplace_button button{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 25px;
	cursor: pointer;
}

.rozetka button{
	background-image: url("/static/images/rozetka_marketplace.png");
	background-size: cover;
	background-position: center;
}

.epicentr button{
	background-image: url("/static/images/epicentr_marketplace.png");
	background-size: cover;
	background-position: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.allo button{
	background-image: url("/static/images/allo_marketplace.png");
	background-size: cover;
	background-position: center;
}


.marketplace_button p{
	text-align: center;
    color: black;
    font-size: 18px;
	cursor: pointer;
}