*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--BgColor);
}

.InfinityLoaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
}

.InfinityLoader {
    fill: none;
    stroke-width: 10px;
    transform: scale(2);
    stroke: url(#Gradient);
    stroke-dasharray: 60 172;
    stroke-linecap: round;
    animation: InfinityAnimation 3s ease-in-out infinite;
}

.InfinityLoader :nth-of-type(1) {
    animation: none;
	stroke: #adcfb3;
    stroke-dasharray: 0;
}

@keyframes InfinityAnimation {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 232;
	}
}

.GenerationText{
    color: rgb(57, 67, 58);
    font-size: 36px;
    font-weight: 700;
}